.main-body {
    width: 100%;
    height: fit-content;
}
.body1 {
    font-size: 35px !important;
    font-family: 'Roboto', SansSerif, sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: 600 !important;
    color: #44444F;
}
.background-img-1 {
    width: 45%;
    height: auto;
}
.search-container {
    display: flex;
    width: 100%;
    position: relative;
}

.search-container input[type="text"] {
    padding-left: 10px; /* Có thể thay đổi khoảng cách giữa icon và nội dung input ở đây */
}

.search-button {
    font-family: 'Roboto', SansSerif, sans-serif;
    font-size: 20px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
    background-color: rgb(68, 68, 79);
    border-radius: 0 20px 20px 0 !important;
    border: 2px solid rgb(68, 68, 79) !important;
    color: #FEEEEE;
    height: 65px;
}
.search-input {
    font-family: 'Roboto', SansSerif, sans-serif;
    width: 70%;
    font-weight: 600;
    padding-left: 4rem !important;
    border-radius: 20px 0 0 20px !important;
    border: 2px solid rgb(68, 68, 79) !important;
    font-size: 20px !important;
    color: #44444F;
    height: 65px;
}
.search-input-2 {
    font-family: 'Roboto', SansSerif, sans-serif;
    width: 0;
    font-weight: 600;
    padding-left: 4rem !important;
    border-radius: 20px 20px 20px 20px !important;
    border: 2px solid rgb(68, 68, 79) !important;
    font-size: 20px !important;
    color: #44444F;
    height: 65px;
}
.search-icon {
}
.body-text1 {
    width: 55%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5rem 5rem 5rem 5rem;
}
.all-button-body1 {
    padding: 3rem 0;
    width: 100%;
    display: flex;
}
.button-body1 {
    margin-right: 1rem !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    font-family: 'Roboto', SansSerif, sans-serif;
    background: #d8d8d8 !important;
    color: #44444F !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    border-radius: 19px !important;
    cursor: pointer;
    padding: 10px 20px !important;
}
.button-body2 {
    margin-right: 1rem !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    font-family: 'Roboto', SansSerif, sans-serif;
    color: #44444F !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    border-radius: 19px !important;
    cursor: pointer;
    padding: 10px 20px !important;
    background: #FFC542 !important;
}
.location-search {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-main {
    position: absolute;
    top: 10px; /* Có thể thay đổi vị trí của icon ở đây */
    /*left: 10px; !* Có thể thay đổi vị trí của icon ở đây *!*/
    left: 20px;
}
.search-location-menu :global(.MuiPaper-root) {
    top: 685px !important;
}
.choose-location-on-map {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.get-address {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}
.get-address-main {
    width: 100%;
    height: 11rem;
    overflow: auto;
    border-radius: 10px;
}
.get-address-main::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
.get-address-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #888;
}
.get-address-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.get-address-children {
    text-align: start;
    width: 100%;
    font-size: 15px !important;
    border: unset;
    padding: 1rem 1rem 1rem 1rem;
}
.get-address-children:focus {
    background: #FFC542 !important;
}
.get-address-children:hover {
    background: #FFC542 !important;
}
.selected {
    background: #FFC542 !important;
}