.post-info-image {
    display: flex;
    width: 100%;
    overflow: auto;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.image-abcd {
    height: 400px;
}
.show-info-post {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.show-info-user {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 30%;
    flex-direction: column;
}
.map-info-post {
    height: 450px;
}
.map-info-post > div:first-child > div:first-child {
    width: 55% !important;
    height: 400px !important;
}
.main-abcd {
    padding: 0 10%;
    display: flex;
}
.show-info-post-title {
    text-align: start;
    font-size: 28px;
    color: #44444F;
    font-weight: 600;
    margin-bottom: 1rem;
}
.show-info-post-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 3rem;
}
.show-info-post-price {
    font-size: 28px;
    color: #FF9500;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;;
}
.show-info-post-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3rem;
}
.show-icon-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.show-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 1rem;
}
.tongquan {
    font-family: 'Roboto', SansSerif, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #44444F;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.address {
    font-size: 16px;
    text-align: start;
    margin-bottom: 1rem;
}
.show-info-post-chitiet {
    font-size: 16px;
    text-align: start;
    margin-bottom: 1rem;
}
.show-info-user-2 {
    width: 100%;
    height: 300px;
    background: #F4F7Fb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 2rem;
}
.show-info-user-3 {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.show-info-user-4 {
    margin-right: 1rem;
}
.show-info-user-56 {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.show-info-user-5 {
    font-size: 20px;
    font-weight: 500;
}
.show-info-user-7 {
    font-size: 28px;
    font-weight: 600;
}
.show-info-user-4 {
    width: 60px;
}
.comment-post-info {
    margin-top: 3rem;
    background: #F4F7Fb;
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 0 2rem;
}
.comment-title {
    font-size: 28px;
    font-weight: 600;
    text-align: start;
}
.rating-post-info {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-start {
    color: #FF9500;
    font-size: 30px;
}
.image-slider-btn {
    cursor: pointer;
    border: none;
    height: 100px;
}
.image-slider-btn:hover {
    border: none;
    background: #FF9500;
    color: #FF9500;
}
.image-slider-img {
    width: 50rem;
}
.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}